---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nomadicasim.com</title>
	</head>
	<body>
		<h1 class="text-8xl font-bold">A seeker</h1>
		<h1 class="text-8xl font-bold">A learner</h1>
		<h1 class="text-8xl font-bold">A world traveller</h1>
		<p>A four day trip that turned into 10 years on the road</p>
	</body>
</html>
