---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nomadicasim.com</title>
	</head>
	<body>
		<div class="bg-no-repeat bg-green-400 text-white" style="background-position: bottom center; background-image: linear-gradient(#0000008a, #00000069), url('../hero.jpg');">
			<nav class="bg-red-300 flex justify-between">
				<a href="/">nomadicasim</a>
				<div>
					<a href="/blog">Blog</a>
					<a href="/about">About</a>
				</div>
			</nav>
			<section class='pt-48 pb-48'>
				<h1 class="text-8xl font-bold">A seeker</h1>
				<h1 class="text-8xl font-bold">A learner</h1>
				<h1 class="text-8xl font-bold">An explorer</h1>
				<p>A four day trip that turned into 10 years on the road</p>
			</section>
		</div>
		<div class="bg-red-200 flex gap-2 justify-center">
			<section class="pt-10 pb-10 pl-10 pr-10 m-2 bg-slate-400">3200 days on the road so far..</section>
			<section class="pt-10 pb-10 pl-10 pr-10 m-2 bg-slate-400">70 countries travelled</section>
			<section class="pt-10 pb-10 pl-10 pr-10 m-2 bg-slate-400">3 near death experienes and counting..</section>
		</div>
		<section class="">
			<p class="py-8 pl-8 font-bold text-4xl text-gray-900">Some images of my travels</p>
			<div class="grid grid-cols-4 gap-4 px-8">
				<figure><img src="./images/bagan.jpg" alt=""></figure>
				<figure><img src="./images/bled.jpg" alt=""></figure>
				<figure><img src="./images/borobudur.jpg" alt=""></figure>
				<figure><img src="./images/frieberg.jpg" alt=""></figure>
				<figure><img src="./images/japan.jpg" alt=""></figure>
				<figure><img src="./images/japan2.jpg" alt=""></figure>
				<figure><img src="./images/karaween.jpg" alt=""></figure>
				<figure><img src="./images/lac_blanc.jpg" alt=""></figure>
				<figure><img src="./images/matterhorn.jpg" alt=""></figure>
				<figure><img src="./images/muaythai.jpg" alt=""></figure>
				<figure><img src="./images/pagoda.jpg" alt=""></figure>
				<figure><img src="./images/poland.jpg" alt=""></figure>
				<figure><img src="./images/scotland_cows.jpg" alt=""></figure>
				<figure><img src="./images/stonehenge.jpg" alt=""></figure>
				<figure><img src="./images/zermatt.jpg" alt=""></figure>
				<figure><img src="./images/arches.jpg" alt=""></figure>
				<figure><img src="./images/vanlife.jpg" alt=""></figure>
			</div>
		</section>
	</body>
</html>