---
import '@fontsource-variable/roboto-serif';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nomadicasim.com</title>
	</head>
	<body class="font-serif text-md text-gray-700">
		<nav class="bg-red-300 flex justify-between">
			<a href="/">nomadicasim</a>
			<div>
				<a href="/blog">Blog</a>
				<a href="/about">About</a>
			</div>
		</nav>
		<div class="mx-8 space-y-3 leading-loose">
			<slot />
		</div>
	</body>
</html>
